.navbar-brand{
  color:white;
  background-color: lightseagreen;
  margin-left:10px;
  padding:inherit;
  font-size: 25px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  border-radius: 3px;
  
}
.description{
  color:lightseagreen;
}
.image-description{
  float:left;
  clear:right;
  margin:10px;
  width:70%;
  height:70%;

}
.col-md-12{
  background-color: white;
  padding-top: 20px;
  padding-bottom:40px;
}
p {
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: left;
    font-size: 15px;
    }
.box {
  min-height: 50px;
  padding: 5px;
  margin: 5px;
  font-weight: 800;
  text-align: center;
  
 
}
.bg-white{
  margin-top: 15px;
}
.title{
  color:lightseagreen;
  font-weight:bolder;
}

.table{
  border-top-color: white;
}

/* small screen adjustments*/
@media(max-width:767px){ 
  
    .navbar.bg-light{
      background-color: rgb(81, 175, 160)!important;    
  }

  .navbar-collapse{
      background-color: #f8f9fa;
  }
  .navbar{
      padding:inherit;
  }
}